################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUD_CSharp1.slnx/FileContentIndex/de281edb-547f-4a53-9f90-27bfb50e7be4.vsidx
