################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/obj/Release
/bin/Debug
/.vs/CRUD_CSharp1/CopilotIndices/18.3.511.5503
/.vs/CRUD_CSharp1.slnx/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/c-_2.slnx
