################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUD_CSharp1.slnx/FileContentIndex/de281edb-547f-4a53-9f90-27bfb50e7be4.vsidx
/.vs/CRUD_CSharp1.slnx/FileContentIndex/02a01142-53db-4860-816c-169d6d22a68a.vsidx
/.vs/CRUD_CSharp1.slnx/FileContentIndex/8d3e3cf7-a965-4c5a-97d3-794153c5b253.vsidx
/.vs/CRUD_CSharp1.slnx/v18/.suo
